In [18]:
import pandas
import configparser
import psycopg2

In [26]:
config = configparser.ConfigParser()
config.read('config.ini')

db = config['myaws']['db']
host = config['myaws']['host']
user = config['myaws']['user']
pwd = config['myaws']['pwd']

In [27]:
conn = psycopg2.connect(
                        host = host,
                        user = user,
                        password = pwd,
                        dbname = db)

In [40]:
cur = conn.cursor()

In [41]:
sql=""" insert into student(s_email,s_name,major)
    values('{}','{}',{})
    """.format('s5@jmu.edu','s3','IA')
print(sql)

 insert into student(s_email,s_name,major)
    values('s5@jmu.edu','s3',IA)

In [42]:
 cur.execute(sql)

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block